name: Build for MacOS, Linux, and Windows

on: [push, pull_request]

jobs:
	build-ios:
    runs-on: macos-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build the project for iOS
      run: |
        mkdir build
        cd build
        # 1. Configuration: Tell CMake to tell Xcode not to require signing
        cmake -G Xcode \
              -DCMAKE_SYSTEM_NAME=iOS \
              -DCMAKE_OSX_ARCHITECTURES=arm64 \
              -DCMAKE_OSX_DEPLOYMENT_TARGET=13.0 \
              -DCMAKE_XCODE_ATTRIBUTE_CODE_SIGNING_ALLOWED=NO \
              -DCMAKE_XCODE_ATTRIBUTE_CODE_SIGN_IDENTITY="" \
              -DCMAKE_XCODE_ATTRIBUTE_CODE_SIGNING_REQUIRED=NO \
              -DMINIAUDIOEX_BUILD_PLATFORM=ios \
              ..
        
        # 2. Build: Pass the same flags to xcodebuild via CMake
        cmake --build . --config Release -- \
              CODE_SIGNING_ALLOWED=NO \
              CODE_SIGNING_REQUIRED=NO \
              CODE_SIGN_IDENTITY=""

  
